.btn-fav {
   width: 100%;
   border: none;
   height: 35px;
   color: white;
   background-color: teal;
   border-radius: 0 25px;
   cursor: pointer;
}

.btn-fav:hover {
   background-color: rgb(0, 82, 82);
}