.search {
   padding: 0 10px;
   margin: 35px auto;
}

.search-container {
   border-radius: 100px;
   border: 1px solid #dfe1e5;
   display: flex;
   justify-content: center;
   align-items: center;
}

input {
   height: 40px;
   outline: none;
   border: none;
}

.search-container:hover {
   box-shadow: 0 1px 6px 0 #20212447;
   border-color: #dfe1e500;
}

@media (min-width: 768px) {
   .search {
      width: 530px;
   }
   .search-container {
      width: 525px;
   }
   input {
      width: 450px;
   }
}