body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Characters */
.characters-container {
  padding-top: 1rem;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card {
  width: 250px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 20px #d9d9d9,
              -5px -5px 20px #ffffff;
  margin-bottom: 25px;
}

.card__img-container img {
  border-radius: 0 20px 0 20px;
  width: 100%;
}

.card__info-container {
  text-align: center;
}
/* Dark mode */
.dark {
  background-color: black;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dark-mode {
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}


@media (min-width: 768px) {
  .characters-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
     gap: 20px;
  }
}